* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #dbd8e3;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-color { 
	background: #dbd8e3; 
}
	
.second-color { 
	background: #5c5470; 
}

.third-color { 
	background: #352f44; 
}

.fourth-color { 
	background: #2a2438; 
}